//
   Created by ather on 12/21/13.
doctype
html
    head
        title Customer Management System
        link(href='styles/style.css', rel='stylesheet')
       // link(href='css/stylus.css', rel='stylesheet') // this is not working...
    body
        block content

